html{

scroll-behavior:smooth;

}

body{

font-family:Poppins,sans-serif;

}

section{

overflow:hidden;

}

img{

max-width:100%;

}

.shadow{

transition:.3s;

}

.shadow:hover{

transform:translateY(-8px);

}